.container{
  max-width: 400px;
  min-height: 450px;
  background-color:lightblue;
  margin: 0px auto;
  box-shadow:0 0 15px gray;
  padding: 15px 50px;
  margin-top: 50px;
  

}
.text-center{
    text-align: center;
}
.expense-container{
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow:0 0 10px gray;

}
.transaction-form input{

    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
}
.transaction-list {

    margin: 0;
    padding: 0;

}
.transaction-list > li{
    display: flex;
    justify-content: space-between;
    margin: 5px 2px;
    padding: 10px 2px;
    box-shadow:0 0 10px gray;
    background-color: white;

}